<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mixology</title>
</head>
<body>

  <h3 style='color: #ccc;font-size: 30px;'>Waiting for others to finish...</h3>
  <div class="message_holder"></div>

  <form action="" method="POST">
    <input type="submit"/>
  </form>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'connect', function() {
      socket.emit( 'userResponse', {
        data: 'connected'
      } )

      var form = $( 'form' ).on( 'submit', function( e ) {
        socket.emit( 'userResponse', {
          data : 'finished',
        } )
        $( 'input.message' ).val( '' ).focus()
      } )
    } )

    socket.on( 'serverResponse', function( msg ) {
      console.log( msg )
    })
  </script>

</body>
</html>